@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Paul Colon</h1>
  <p class="lead"><p>Softwear Developer |  Musician</p>
  <p><a href="https://github.com/paulcolon" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>MandoMan</h2>
    <p>
      A site that has everything you need to know about Bluegrass mandolin.
    </p>
    <p><a class="btn btn-default" href="https://paulcolon.github.io/">Learn more &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>WhatTaWear</h2>
    <p>So your going for a bicycel ride, and the weather is iffy. Use this app, to tell you what to wear!</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Future Project</h2>
    <p>something is cooking....stay tuned, updates on the way..more text here...</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
  </div>
</div>