@model ClassMVC.Models.Person

@{

  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Whats Your Nmae</h1>

  @using (var form = html.BeginForm("SayHello", "Home"))
  {
    <p>First Name : @html.TextBoxFor(x => x.FirstName)</p>
    <br />
    <p> Last Name : @html.TextBoxFor(x => x.LastName)</p>
  }

</div>
